<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'carros' %}" method="POST">{% csrf_token %}
        <input type="text" name="nome">
        <input type="text" name="cor">
        <input type="submit" value="Enviar">
    </form>
    <div>
        {% for i in carros %}
            <div style="background-color: rgba(89, 102, 126, 0.308); margin-bottom: 10px;">
                Nome: <p>{{ i.nome }}</p>
                Cor: <p>{{ i.cor }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>