<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'index_musica' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        <label for="mus">Nome da Música</label>
        <input type="text" name="nome" id="">
        <label for="dur">Duração</label>
        <input type="text" name="duracao" id="">
        <input type="file" name="file_arquivo" id="">
        <input type="submit" value="Enviar">
    </form>
    
    {% for i in mus %}
        <p>{{ i.nome }}</p>
    {% endfor %}
</body>
</html>